# This is a basic workflow to help you get started with Actions

name: Detect Secret

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  Detect:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Detect Secrets
      uses: evanextreme/detect-secrets-action@1.0.0
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
